body{
    margin: 0px;
}
#parent{
    width: 100%;
    height: 100vh;
    background-color: #4267B2;
    display: flex;
}
.loginHeading{
    font-weight: 400;
    font-size: larger;
}
#child{
    border-radius: 10px;
    margin: auto auto;
    text-align: center;
    background-color: white;
    display: flex;
    padding: 40px;
    padding-bottom: 20px;
    padding-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#main{
    width: 290px;
}
h3{
    margin-bottom: 25px;
}
.form-box{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px auto;
}
.form-box input{
    padding: 2px;
}
#checkbox{
    text-align: left;
}
#button{
    color: white;
    padding: 5px;
    text-align: center;
    background-color: #4267B2;
    margin: 20px auto;
    border-radius: 4px;
}
p{
    margin-top: 30px;
}
a{
    text-decoration: none;
}


.form-box input{
    margin-top: 5px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid rgb(207, 205, 205);
}

.btnLogin{
    /* height: 30px; */
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border-radius: 4px;
    border: none;
}

/* Plan Page */
body{
    display: flex; 
    height: 100vh;
    align-items: center;
    font-family: Arial, sans-serif;
    /* text-align: center; */
    margin: 0;
    padding: 0;
}

.MainContainer{
    display: flex;
    /* height: 100vh; */
    width: 100%;
    align-items: center;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: auto;
    flex-direction: column;
    padding: 0;
}
.container1{
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
}

.monthlyPlan{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

/* background color */
.items{
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    /* background-color: aqua;
    border: 2px solid gray; */
}

/* .container {
    /* padding: 20px; 
} */

.btn-group {
    display: inline-block;
}

.btn {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}

.btn.active {
    background-color: #0056b3;
}

.mobile, .basic, .standard, .premium{
    /* display: flex; */
    margin: auto;
    background-color: lightskyblue;
    padding: 23px;
    color: white;
    border: none;
    border-radius: 3px;
}

.lineBottom{
    margin-left: 29px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.haveUl{
    border-bottom: 0.5px solid grey;
}

.upperRow{
    height: 40px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}

.lowerRow .items{
    padding-top: 10px;
    padding-bottom: 10px;
}

.rowname{
    text-align: start;
    padding-left: 15px;
}

.container2{
    margin-top: 30px;
}
.nextbtn{
    padding: 15px 150px;
    background-color:#0056b3;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}


/* payment Page CSs */
.mainBody{
    background-color: #0056b3;
}

.container3{
    display: flex;
    margin: auto;
    width: 50%;
    background-color: white;
    border-radius: 10px;
}

.container3 .left{
    padding: 30px;
    width: 60%;
}

.container3 .right{
    padding: 30px;
    width: 40%;
}

.cardinput{
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
    padding-left: 5px;
}

.paymentdetail{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.2px solid rgb(222, 222, 222);
}

.cfnBtn{
    background-color: #0056b3;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
}

.cfnBtn:focus{
    background-color: rgb(222, 222, 222);
}


/* Current plan Detail */
.container4{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #4267B2;
}
.container4_child{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    background-color: white;
}
.headinginfo one h2{
    display: inline-block;
    float: left;
}
.headinginfo one{
    float: left;
}
